<h1>HOME</h1>

<p>
  <%= link_to 'Test ajax', test_url, :remote => true, :method => :post %>
</p>

<div id="placeholder"></div>

<% if current_user.nil? %>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% else %>
  Logged in:
<%= current_user.email %>
<% end %>

<hr>
<h2>User:</h2>
<%= current_user.inspect %>
<hr>
<h2>Session:</h2>
<%= session.inspect %>
<hr>
<h2>Cookies</h2>
<%= cookies.inspect %>